<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-847F9RCVM8"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-847F9RCVM8');
      </script>
      <meta charset="utf-8">
      {{ bokeh_css }}
      {{ bokeh_js }}
	<style>
             {% include 'styles.css' %}
    </style>

    </head>
    <body>
    	<h1>UNCTAD Nowcasts</h1>
      <p>UNCTAD nowcast revisions based on new data releases.</p>
      {{ plot_div|indent(8)|safe }}
      {{ plot_script|indent(8)|safe }}
    </body>
</html>
